# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Latex
*.aux
*.log
*.synctex.gz
*.toc
*.fdb_latexmk
*.fls


# Roguelike
accentNeeded
doc
rogueLike
partie
partieSave
err
asciiFont
index.php
github-sync.php
